# App
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_live_or_pk_test_replace_me

# Firebase
FIREBASE_API_KEY=replace_me
FIREBASE_AUTH_DOMAIN=replace_me.firebaseapp.com
FIREBASE_PROJECT_ID=replace_me
FIREBASE_STORAGE_BUCKET=replace_me.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=replace_me
FIREBASE_APP_ID=replace_me
FIREBASE_MEASUREMENT_ID=replace_me
